@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*
{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    

}

.masthead
{
    background: url('./img/tokyio.jpg') no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;


}

.masthead .container
{
    overflow: hidden;
}

.masthead h1
{
    position: absolute;
    bottom: 1.25rem;
    max-width: 550px;
    

    color: white;
}
.color-overly
{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.6573004201680672)0%, rgba(129,129,129,0) 48%);
}

.mastheadAereo
{
    position: relative;

}

.mastheadAereo .container
{
    overflow: hidden;
}

.mastheadAereo h2
{
    position: absolute;
   bottom: 1.25rem;
    max-width: 550px;

    color: white;
}


.mastheadnaritaairpot
{

    position: relative;

}

.mastheadnaritaairpot .container
{
    overflow: hidden;
}

.mastheadnaritaairpot h2
{
    position: absolute;
   bottom: 1.25rem;
    max-width: 550px;

    color: white;
}



.mastheadMeiji
{
    position: relative;


}

.mastheadMeiji .container
{
    overflow: hidden;
}

.mastheadMeiji h2
{
    position: absolute;
   bottom: 1.25rem;
    max-width: 550px;

    color: white;
}
.secondday
{
    text-align: center;
    margin-bottom: 2rem;
}
.secondday a
{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
   
}


